<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Proprietários</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="index">
    <div class="card">
        <h1>Sistema de Proprietários</h1>
        <p>Gerencie de forma simples e rápida os proprietários cadastrados no sistema.</p>
        <a href="/proprietarios/listar" class="btn">
            <i class="fas fa-rocket"></i> Gerenciar Proprietários
        </a>
    </div>
</body>
</html>